.mypage_main {
  padding: 4rem 0 5rem;

  @include sp {
    padding: 2.5rem 0;
  }

  .mypage-content {
    display: flex;
    margin-top: 4rem;

    @include sp {
      margin-top: 2rem;
    }

    ._side-block {
      width: 12rem;
      border: 1px solid #e4e4e4;
      height: 100%;

      @include sp {
        display: none;
      }

      ._side-item {
        padding: 0.5rem;
        padding: 0.75rem;
        border-bottom: 1px solid #e4e4e4;
        font-size: 0.9rem;
        letter-spacing: 2px;
        display: block;

        &.active {
          border-left: 4px solid #00a4bb;
          background: #edfbff;
          font-weight: bold;
        }
      }
    }

    ._user-profile {
      ._user-image {
        width: 12rem;
        @include sp {
          width: 14rem;
        }
        img {
          border-radius: 50%;
        }
      }

      dl {
        margin-top: 1rem;
        dt {
          font-size: 0.9rem;
        }
      }
    }

    .sub-ttl {
      font-size: 1.25rem;
      letter-spacing: 4px;
      margin-bottom: 2rem;
    }

    ._mypage {
      @include more-sp {
        width: calc(100% - 12rem - 6%);
        margin-left: 6%;
      }

      @include sp {
        width: 100%;
      }
    }

    .summaries-stack {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      .left-box {
        width: 30%;
        padding: 0.25rem;

        img {
          height: 95px;
          object-fit: cover;
        }
      }

      .right-box {
        width: 68%;
        padding: 0.25rem;
        position: relative;

        ._title {
          font-size: 1rem;
          margin-bottom: 1rem;
          @include sp {
            font-size: 0.9rem;
          }
        }

        ._description {
          font-size: 0.8rem;
        }

        ._date {
          display: flex;
          align-items: baseline;
          position: absolute;
          bottom: 0.625rem;
          right: 1rem;
          height: 1.25rem;
          color: #676262;

          dt {
            font-size: 0.8rem;
            margin-right: 0.5rem;
          }
        }

        ._summary-edit-btn {
          height: 1.75rem;
        }
      }
    }

    ._update-date {
      font-size: 0.7rem;
    }
  }
}
