.summary-show {
  ._header {
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.5rem;
  }

  ._body {
    border-bottom: 1px solid $border-color;
    padding-bottom: 1.5rem;
  }

  ._icons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  ._footer {
    padding: 0 0 1.5rem;

    dl {
      display: flex;
      font-weight: 400;
      margin: 0.5rem 0rem;

      dd {
        margin-left: 0.5rem;
      }
    }
  }
}
