.main-title {
  padding: 0.2rem 1rem;
  font-size: $fz_md;
  margin-bottom: 2rem;
  letter-spacing: 4px;

  &.blue-main-title {
    border-left: 4px solid #00A4BB;
  }

  &.blue-back {
    background: #f2fafb;
  }
}

._icon-title {
  display: flex;
  align-items: center;

  ._title {
    font-weight: bold;
    margin-left: 0.75rem;
  }

  ._comment-logo {
    width: 1.5rem;
  }
}
