.main-title {
  padding: 0.2rem 1rem;
  font-size: $fz_md;
  margin-bottom: 1.5rem;

  &.blue-main-title {
    border-left: 4px solid #2f66cc;
  }
}

._icon-title {
  display: flex;
  align-items: center;
  ._title {
    font-weight: bold;
    margin-left: 0.75rem;
  }
}
