.lg-container {
  @include pc() {
    max-width: 100vw;
    margin: auto;
  }
}

.l-container {
  @include pc() {
    width: 1040px;
    margin: auto;
  }
}

.md-container {
  @include pc() {
    max-width: 840px;
    margin: auto;
  }
}
