.lg-container {
  @include pc() {
    display: flex;
    max-width: 1240px;
    margin: auto;
  }
}

.l-container {
  @include pc() {
    display: flex;
    max-width: 1040px;
    margin: auto;
  }
}

.md-container {
  @include pc() {
    max-width: 840px;
    margin: auto;
  }
}
