.l-footer {
  background-color: #fff;
  color: #121216;
  text-align: center;
  @include fz_md();

  @include pc() {
    padding: 160px 0 30px;
  }
  @include sp() {
    padding: 25px 0 30px;
  }

  &__link {
    @include more-sp {
      margin: 0 25px;
    }
    @include sp {
      margin: 0;
      padding: 5px 10px;
      display: inline-block;
      width: 48%;
    }
  }

  &__links {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    @include more-sp {
      margin: 40px 0 20px;
    }

    @include sp {
      flex-wrap: wrap;
    }
  }

  &__logo {
    margin: auto;
    font-size: 24px;
    font-weight: bold;

    @include sp {
      margin: 30px auto;
    }

    img {
      width: 10rem;
      @include sp() {
        width: 100%;
      }
    }
  }

  &__sns {
    margin-bottom: 40px;
  }

  &--copyright {
    font-size: 9px;
    line-height: 13px;
  }
}
