.l-header {
  &__top {
    padding: 1rem 1.5rem 1rem 1.25rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;

    @include sp() {
      @include fz_sm();
      text-align: left;
      padding: 12px 10px;
    }

    &.m-center {
      @include sp() {
        font-size: 0.8rem;
        padding: 5px 0;
      }
    }
  }

  &__register-ttl {
    border: 2px solid #00a4bb;
    color: #00a4bb;
    font-weight: bold;
    padding: 0.25rem 0.75rem;
    margin-right: 1rem;
  }

  &__login-ttl {
    font-weight: bold;
    color: #00a4bb;
  }

  &__top-header {
    background: linear-gradient(90deg, #00a4bb 0%, #67ecff 100%);

    &._txt {
      padding: 0.75rem 1.25rem;
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: 0.8rem;
      color: #fff;

      @include sp {
        font-size: 0.7rem;
      }

      @include sp_5s {
        font-size: 0.6rem;
      }
    }
  }

  &__container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  &__logo {
    mix-blend-mode: multiply;
    width: 12rem;

    @include sp {
      width: 8rem;
    }
  }

  &__sub-logo {
    width: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include more-sp {
      margin-left: 1.85rem;
    }

    @include sp {
      margin-right: 1.25rem;
      font-size: 0.7rem;
    }

    @include sp_5s {
      font-size: 0.65rem;
      margin-right: 0.5rem;
    }

    img {
      width: 100%;
    }

    &._userIcon {
      display: flex;
      align-items: center;
      width: 3rem;
      margin-right: 0;

      ._icon {
        width: 2rem;
        margin-right: 0.25rem;
      }

      ._logo {
        width: 0.65rem;
      }

      img {
        border-radius: 50%;
      }
    }

    ._pull-down {
      display: block;
      position: absolute;
      top: 3.5rem;
      right: 0;
      z-index: 1000;
      width: 200px;
      background-color: #fff;
      padding: 4px 0;
      border: 1px solid #ddd;
      border-radius: 3px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
      top: 40px;

      ._item {
        display: block;
        font-weight: normal;
        font-size: 0.9rem;
        padding: 12px 16px;
        color: #555;
      }

      .hr {
        width: 100%;
        height: 1px;
        margin: 4px 0;
        background-color: #ddd;
      }
    }

    .notification_count {
      position: absolute;
      top: -10%;
      right: -6%;
      height: 1rem;
      min-width: 1rem;
      font-size: 0.625rem;
      font-weight: bold;
      padding: 3px 4px 2px 5px;
      line-height: 1;
      background: #ff3333;
      color: #fff;
      text-align: center;
      border-radius: 8px;
    }
  }

  &__right-box {
    display: flex;
    align-items: center;
  }

  &__message {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.1rem;

    @include sp() {
      text-align: left;
      font-size: 11px;
      line-height: 16px;
    }
  }
}
