.l-header {
  &__top {
    padding: 16px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;

    @include sp() {
      @include fz_sm();
      text-align: left;
      padding-left: 16px;
    }

    &.m-center {
      @include sp() {
        font-size: 0.8rem;
        padding: 5px 0;
      }
    }
  }

  &__register-ttl {
    border: 2px solid #00A4BB;
    color: #00A4BB;
    font-weight: bold;
    padding: 0.25rem 0.75rem;
  }

  &__login-ttl {
    font-weight: bold;
    color: #00A4BB;
  }

  &__top-header {
    background: linear-gradient(90deg, #00A4BB 0%, #67ecff 100%);

    &._txt {
      padding: 0.75rem 1.25rem;
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: 0.8rem;
      color: #fff;
    }
  }

  &__container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  &__logo {
    mix-blend-mode: multiply;
    width: 12rem;
  }

  &__sub-logo {
    width: 1.5rem;
    position: relative;

    img {
      width: 100%;
    }

    .notification_count {
      position: absolute;
      top: -10%;
      right: -6%;
      height: 1rem;
      min-width: 1rem;
      font-size: 0.625rem;
      font-weight: bold;
      padding: 3px 4px 2px 5px;
      line-height: 1;
      background: #ff3333;
      color: #fff;
      text-align: center;
      border-radius: 8px;
    }
  }

  &__right-box {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0 0;

    a {
      margin-left: 1.85rem;
    }
  }

  &__message {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.1rem;

    @include sp() {
      text-align: left;
      font-size: 11px;
      line-height: 16px;
    }
  }
}
