.wrapper {
  padding: 40px 0;
  background-color: $bg-gray-color;

  &.pt0 {
    padding: initial;
  }
}

a {
  &:hover {
    opacity: 0.6;
  }
}

select {
  background-image: url("../../static/images/select.svg");
  background-repeat: no-repeat;
  background-position: right 1.1rem center;
  appearance: none;
  font-size: 0.8125rem;
  padding: 0.5rem 1.5rem;
  line-height: 2.15;
  width: 14rem;
  letter-spacing: 1.6px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: border-box;
}

.l-main,
.summary_main {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;

  @include more-sp {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 5rem;
  }

  @include sp {
    padding-bottom: 3rem;
  }

  ._txt-box {
    padding: 0.2rem 0.75rem 0.5rem;
  }

  ._summary-ttl {
    font-size: 0.9rem;
    font-weight: 600;
  }

  ._summary-txt {
    font-size: 0.7rem;
  }
}

.summary_main {
  @include more-sp {
    padding: 4rem 0 5rem;
  }
}

.c-register {
  padding: 4rem 0 5rem;
  @include sp {
    padding: 2.5rem 0;
  }
}

.comment-form {
  @include sp {
    padding-bottom: 4rem;
  }
}

.main-block {
  width: 70%;
  padding: 3.5rem 3rem;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  box-shadow: 0 0 3px #d6d3d3;

  @include tablet {
    padding: 3.5rem 2rem;
  }

  @include sp {
    width: 100%;
    padding: 3rem 1.25rem;
  }

  &.article-block {
    @include sp {
      padding: 1.85rem 1.25rem;
    }
  }

  &._block-center {
    width: 100%;
    margin: auto;
  }

  .mosaic {
    filter: blur(5px);
  }

  .publishing-text {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }

  .article-block {
    margin-bottom: 3rem;

    &:last-of-type {
      margin-bottom: initial;
    }
  }

  .data-list {
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
    display: grid;
    grid-gap: 1.5rem 1.25rem;

    &._stack-list {
      display: block;
      .summaries-stack {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        padding: 1rem;
        ._stack-header {
          display: flex;
          align-items: center;
          @include sp {
            align-items: flex-end;
            margin-bottom: 0.5rem;
          }
        }
        ._date {
          color: #676262;
          font-size: 0.8rem;
          margin-bottom: 0.38rem;
        }
        ._icon-box {
          display: flex;
          ._icon {
            width: 5rem;
            border-radius: 50%;
            img {
              width: 100%;
            }
          }
        }
        ._txt-box {
          padding: 0 0 0 3rem;

          @include sp {
            padding: 0;
          }
          ._title {
            font-size: 1rem;
            margin-bottom: 0.75rem;
            @include sp {
              font-size: 0.9rem;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

.alertContainer {
  position: fixed;
  top: 4.5rem;
  left: 50%;
  width: 18rem;
  margin-left: -8rem;
  z-index: 105;
  background: #fff;
  padding: 0.8rem;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  &.danger {
    background: rgba(204, 68, 68, 0.97);
  }

  &.success {
    background: rgba(81, 183, 132, 0.98);
  }

  .alert_txt {
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2.4px;
  }
}

.pager {
  display: flex;
  justify-content: center;

  .pager-num {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-right: 0.5rem;

    &.active {
      color: #000;
      border: 1px solid #000;
      background: #fff;
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }
}

.form-table {
  .form-group {
    margin: 1.5rem 0;

    dt {
      margin-bottom: 0.75rem;

      label {
        font-size: 0.9rem;
        font-weight: bold;
        display: flex;
        align-items: center;

        .req {
          background: #d44950;
          padding: 0.075rem 0.35rem 0.15rem;
          font-size: 0.8rem;
          border-radius: 2px;
          margin-left: 1rem;
          color: #fff;
          font-weight: normal;
          display: block;
        }

        ._error-message {
          font-size: 0.75rem;
          letter-spacing: 1px;
          margin-left: 1rem;
          color: #d44950;
          font-weight: bold;
        }
      }
    }

    .form-control {
      width: 70%;
      height: 2.5rem;
      font-size: 1rem;
      appearance: none;
      border-radius: 3px;
      border: 1px solid #cacaca;
      outline: none;
      padding: 8px 16px;

      @include sp {
        width: 100%;
      }

      &.textarea {
        height: 8rem;
        @include sp {
          height: 10rem;
        }
      }
    }

    dd {
      ._example-form {
        font-size: 0.9rem;
        margin-top: 0.25rem;
      }
    }
  }
}

.image-circle {
  border-radius: 50%;
}

.prof-area {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  @include sp {
    display: block;
    font-size: 0.9rem;
  }
  ._update-date {
    margin: 0 0 0 1rem;
    p {
      font-size: 0.9rem;
      color: #999;
      @include sp {
        font-size: 0.8rem;
      }
    }
  }
}

._user-icon-area {
  display: flex;
  align-items: center;
  @include sp {
    align-items: flex-end;
  }
  ._icon {
    width: 2.5rem;
    margin-right: 1rem;

    @include sp {
      width: 2.25rem;
      margin-right: 0.75rem;
    }

    &.min-icon {
      width: 2.25rem;
      margin-right: 0.75rem;
    }
    img {
      border-radius: 50%;
    }
  }
  ._user-txt {
    line-height: 1.2;
    margin-bottom: 0.5rem;
    @include more-sp {
      font-size: 1.1rem;
      border-bottom: 1px solid;
    }

    @include sp {
      font-size: 1rem;
    }

    &.min-txt {
      font-size: 0.9rem;
      border-bottom: none;
    }
  }
}
._icon-area {
  display: flex;
  margin-bottom: 1rem;
  .image-circle {
    width: 100%;
    border-radius: 50%;
  }

  dl {
    width: 10rem;

    &:first-of-type {
      margin-right: 3rem;
      @include sp {
        margin-right: 2rem;
      }

      @include sp_5s {
        margin-right: 1rem;
      }
    }

    dt {
      text-align: center;
      margin-bottom: 0.75rem;
      font-size: 0.8rem;
      font-weight: 600;

      @include sp {
        font-size: 0.7rem;
      }
    }
  }
}

._thumnail-area {
  display: flex;
  margin-bottom: 1rem;
  dl {
    width: 15rem;
    &:first-of-type {
      margin-right: 1rem;
    }

    dt {
      text-align: center;
      margin-bottom: 0.75rem;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
}
