.wrapper {
  padding-top: 40px;
  height: 100vh;
}

a {
  &:hover {
    opacity: 0.6;
  }
}

.l-main,
.summary_main {
  display: flex;
  width: 100%;
}

.main-block {
  width: 70%;
  padding: 0 1rem;
}

.summary_main {
}
