.wrapper {
  padding: 40px 0;
  background-color: $bg-gray-color;

  &.pt0 {
    padding: initial;
  }
}

a {
  &:hover {
    opacity: 0.6;
  }
}

.l-main,
.summary_main {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;

  ._txt-box {
    padding: 0.2rem 0.75rem 0.5rem;
  }

  ._summary-ttl {
    font-size: 0.9rem;
    font-weight: 600;
  }

  ._summary-txt {
    font-size: 0.7rem;
  }
}

.main-block {
  width: 68%;
  padding: 2rem;
  background-color: #fff;

  &._block-center {
    margin: auto;
  }

  &._block-list {
    width: 85%;
  }

  .article-block {
    margin-bottom: 1rem;
  }

  .data-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}

.alertContainer {
  position: fixed;
  top: 4.5rem;
  left: 50%;
  width: 18rem;
  margin-left: -8rem;
  z-index: 105;
  background: #fff;
  padding: 0.8rem;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  &.danger {
    background: rgba(204, 68, 68, 0.97);
  }

  &.success {
    background: rgba(81, 183, 132, 0.98);
  }

  .alert_txt {
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2.4px;
  }
}
