.side-bar {
  width: 30%;
  padding: 0 1rem;

  h3 {
    border-bottom: 2px solid;
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
  }

  .article-box {
    margin-bottom: 3rem;
    padding-left: 1rem;

    .article-item {
      padding-bottom: 0.5rem;
      display: block;
    }
  }
}
